<div class="container loaded-section section-padding">
    <h3 ng-if="$ctrl.getLoadedGame().WinnerId != null">Winner : {{$ctrl.getWinner()}}</h3>
    <div class="row top-margin">
        <div class="col-sm-7">
            <div class="row">
                <h4 class="text-center" ng-if="!$ctrl.hasGameEnded()">
                    <span ng-if="$ctrl.isPlaying()"> Your turn </span>
                    <span ng-if="!$ctrl.isPlaying()">Opponent's turn</span>
                    </>

                </h4>
            </div>


            <div class="row">
                <div id="dice-div" class="col-sm-12 col-top-margin col-left-padding">
                    <div class="die" ng-class="$ctrl.dice.die1.cssClass" ng-click="$ctrl.toggleDie($event, 1)"> <span class="dot" ng-if="$ctrl.dice.die1.cssClass != null"></span></div>
                    <div class="die" ng-class="$ctrl.dice.die2.cssClass" ng-click="$ctrl.toggleDie($event, 2)"> <span class="dot" ng-show="$ctrl.dice.die2.cssClass != null"></span></div>
                    <div class="die" ng-class="$ctrl.dice.die3.cssClass" ng-click="$ctrl.toggleDie($event, 3)"><span class="dot" ng-show="$ctrl.dice.die3.cssClass != null"></span></div>
                    <div class="die" ng-class="$ctrl.dice.die4.cssClass" ng-click="$ctrl.toggleDie($event, 4)"> <span class="dot" ng-show="$ctrl.dice.die4.cssClass != null"></span></div>
                    <div class="die" ng-class="$ctrl.dice.die5.cssClass" ng-click="$ctrl.toggleDie($event, 5)"> <span class="dot" ng-show="$ctrl.dice.die5.cssClass != null"></span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-left-padding">
                    <div class="centered-div">
                        <button type="button" class="btn btn-success btn-roll" ng-click="$ctrl.rollDice()" ng-disabled="!$ctrl.isPlaying()">{{$ctrl.getDiceText()}}</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">

                    <div class="box box-primary direct-chat direct-chat-primary">
                        <div class="box-header with-border">
                            <h4 class="box-title">Chat <span ng-if="!($ctrl.getLoadedGame().Status === 3 || $ctrl.getLoadedGame().Status === 4)"> Closed </span></h4>
                        </div>
                        <div class="box-body">
                            <div class="direct-chat-messages">
                                <div class="direct-chat-msg" ng-repeat="msg in $ctrl.getLoadedGame().ChatMessages">
                                    <div class="direct-chat-info clearfix">
                                        <span class="direct-chat-name pull-left">{{msg.ScreenName}}</span>
                                    </div>
                                    <div class="direct-chat-text">
                                        {{msg.Message}}
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer" ng-if="$ctrl.getLoadedGame().Status === 3 || $ctrl.getLoadedGame().Status === 4">
                                <form>
                                    <div class="input-group">
                                        <input type="text" name="message" autocomplete="off" ng-model="$ctrl.newMessage" placeholder="Type Message ..." class="form-control">
                                        <span class="input-group-btn">
                                            <button ng-click="$ctrl.sendMessage()" class="btn btn-primary btn-flat">Send</button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="row">
                <h4 class="text-center">{{$ctrl.getLoadedGame().GameName}}</h4>
            </div>
            <div class="row">
                <div class="col-sm-12 col-top-margin">
                    <table class="table  table-score table-condensed">
                        <tr>
                            <th class="game-result-headers align-left">Description</th>
                            <th class="player-names">{{$ctrl.getLoadedGame().PlayerA.ScreenName}}</th>
                            <th class="player-names">{{$ctrl.getLoadedGame().PlayerB.ScreenName}}</th>
                        </tr>
                        <tr>
                            <th class="game-result-headers tr-half align-left" colspan="3">Upper Half</th>
                        </tr>
                        <tr>
                            <td data-toggle="tooltip" title="Sum of all ones" class="align-left"><a ng-click="$ctrl.updateUpperScore(1)">Ones <i class="mdi mdi-dice-1"></i></a></td>
                            <td><a ng-click="$ctrl.updateUpperScore(1)">{{$ctrl.getLoadedGame().GameResultA.Ones}}</a></td>
                            <td><a ng-click="$ctrl.updateUpperScore(1)">{{$ctrl.getLoadedGame().GameResultB.Ones}}</a></td>
                        </tr>
                        <tr>
                            <td data-toggle="tooltip" title="Sum of all twos" class="align-left"><a ng-click="$ctrl.updateUpperScore(2)">Twos <i class="mdi mdi-dice-2"></i></a></td>
                            <td> <a ng-click="$ctrl.updateUpperScore(2)">{{$ctrl.getLoadedGame().GameResultA.Twos}}</a></td>
                            <td> <a ng-click="$ctrl.updateUpperScore(2)">{{$ctrl.getLoadedGame().GameResultB.Twos}}</a></td>
                        </tr>
                        <tr>
                            <td data-toggle="tooltip" title="Sum of all threes" class="align-left"><a ng-click="$ctrl.updateUpperScore(3)">Threes <i class="mdi mdi-dice-3"></i></a></td>
                            <td><a ng-click="$ctrl.updateUpperScore(3)">{{$ctrl.getLoadedGame().GameResultA.Threes}}</a></td>
                            <td><a ng-click="$ctrl.updateUpperScore(3)">{{$ctrl.getLoadedGame().GameResultB.Threes}}</a></td>
                        </tr>
                        <tr>
                            <td data-toggle="tooltip" title="Sum of all fours" class="align-left"><a ng-click="$ctrl.updateUpperScore(4)">Fours <i class="mdi mdi-dice-4"></i></a></td>
                            <td><a ng-click="$ctrl.updateUpperScore(4)">{{$ctrl.getLoadedGame().GameResultA.Fours}}</a></td>
                            <td><a ng-click="$ctrl.updateUpperScore(4)">{{$ctrl.getLoadedGame().GameResultB.Fours}}</a></td>
                        </tr>
                        <tr>
                            <td data-toggle="tooltip" title="Sum of all fives" class="align-left"><a ng-click="$ctrl.updateUpperScore(5)">Fives <i class="mdi mdi-dice-5"></i></a></td>
                            <td><a ng-click="$ctrl.updateUpperScore(5)">{{$ctrl.getLoadedGame().GameResultA.Fives}}</a></td>
                            <td><a ng-click="$ctrl.updateUpperScore(5)">{{$ctrl.getLoadedGame().GameResultB.Fives}}</a></td>
                        </tr>
                        <tr>
                            <td data-toggle="tooltip" title="Sum of all sixes" class="align-left"><a ng-click="$ctrl.updateUpperScore(6)">Sixes <i class="mdi mdi-dice-6"></i></a></td>
                            <td><a ng-click="$ctrl.updateUpperScore(6)">{{$ctrl.getLoadedGame().GameResultA.Sixes}}</a></td>
                            <td><a ng-click="$ctrl.updateUpperScore(6)">{{$ctrl.getLoadedGame().GameResultB.Sixes}}</a></td>
                        </tr>
                        <tr class="tr-score-subtle">
                            <td class="align-left">Total score:</td>
                            <td>{{$ctrl.getTotalUpperBeforeBonus('A')}}</td>
                            <td>{{$ctrl.getTotalUpperBeforeBonus('B')}}</td>
                        </tr>
                        <tr class="tr-score-bonus">
                            <td class="align-left">>Bonus: (63+)</td>
                            <td>{{$ctrl.getBonus('A')}}</td>
                            <td>{{$ctrl.getBonus('B')}}</td>
                        </tr>
                        <tr class="tr-score">
                            <td class="align-left">Total upper:</td>
                            <td>{{$ctrl.getTotalUpperAfterBonus('A')}}</td>
                            <td>{{$ctrl.getTotalUpperAfterBonus('B')}}</td>
                        </tr>
                        <tr>
                            <th colspan="3" class="game-result-headers tr-half align-left">Lower half</th>
                        </tr>
                        <tr>
                            <td data-toggle="tooltip" title="Sum of all dice if you have at least three of a kind" class="align-left"><a ng-click="$ctrl.updateLowerScore(1)">3 of a kind</a></td>
                            <td><a ng-click="$ctrl.updateLowerScore(1)">{{$ctrl.getLoadedGame().GameResultA.Tok}}</a></td>
                            <td><a ng-click="$ctrl.updateLowerScore(1)">{{$ctrl.getLoadedGame().GameResultB.Tok}}</a></td>
                        </tr>
                        <tr>
                            <td data-toggle="tooltip" title="Sum of all dice if you have at least three of the same" class="align-left"><a ng-click="$ctrl.updateLowerScore(2)">4 of a kind</a></td>
                            <td><a ng-click="$ctrl.updateLowerScore(2)">{{$ctrl.getLoadedGame().GameResultA.Fok}}</a></td>
                            <td><a ng-click="$ctrl.updateLowerScore(2)">{{$ctrl.getLoadedGame().GameResultB.Fok}}</a></td>
                        </tr>
                        <tr>
                            <td data-toggle="tooltip" title="Score 25 points if you have 2 of a kind and 3 of a kind together (e.g: 4 4 2 2 2)" class="align-left"><a ng-click="$ctrl.updateLowerScore(3)">Full House</a></td>
                            <td><a ng-click="$ctrl.updateLowerScore(3)">{{$ctrl.getLoadedGame().GameResultA.Fh}}</a></td>
                            <td><a ng-click="$ctrl.updateLowerScore(3)">{{$ctrl.getLoadedGame().GameResultB.Fh}}</a></td>
                        </tr>
                        <tr>
                            <td data-toggle="tooltip" title="Score 30 points if you have at least 4 in a row" class="align-left"><a ng-click="$ctrl.updateLowerScore(4)">Sm. Straight</a></td>
                            <td><a ng-click="$ctrl.updateLowerScore(4)">{{$ctrl.getLoadedGame().GameResultA.SmStr}}</a></td>
                            <td><a ng-click="$ctrl.updateLowerScore(4)">{{$ctrl.getLoadedGame().GameResultB.SmStr}}</a></td>
                        </tr>
                        <tr>
                            <td data-toggle="tooltip" title="Score 40 points if you have 5 in a row" class="align-left"><a ng-click="$ctrl.updateLowerScore(5)">La. Straight</a></td>
                            <td><a ng-click="$ctrl.updateLowerScore(5)">{{$ctrl.getLoadedGame().GameResultA.LaStr}}</a></td>
                            <td><a ng-click="$ctrl.updateLowerScore(5)">{{$ctrl.getLoadedGame().GameResultB.LaStr}}</a></td>
                        </tr>
                        <tr>
                            <td data-toggle="tooltip" title="Score 50 points if all dice are the same number" class="align-left"><a ng-click="$ctrl.updateLowerScore(6)">Yahtzee!</a></td>
                            <td><a ng-click="$ctrl.updateLowerScore(6)">{{$ctrl.getLoadedGame().GameResultA.Yahtzee}}</a></td>
                            <td><a ng-click="$ctrl.updateLowerScore(6)">{{$ctrl.getLoadedGame().GameResultB.Yahtzee}}</a></td>
                        </tr>
                        <tr>
                            <td data-toggle="tooltip" title="Sum of all dice! When the dice don't roll your way ;)'" class="align-left"><a ng-click="$ctrl.updateLowerScore(7)">Chance</a></td>
                            <td><a ng-click="$ctrl.updateLowerScore(7)">{{$ctrl.getLoadedGame().GameResultA.Chance}}</a></td>
                            <td><a ng-click="$ctrl.updateLowerScore(7)">{{$ctrl.getLoadedGame().GameResultB.Chance}}</a></td>
                        </tr>
                        <tr class="tr-score">
                            <td class="align-left"> Total lower: </td>
                            <td>{{$ctrl.getTotalLower('A')}}</td>
                            <td>{{$ctrl.getTotalLower('B')}}</td>

                        </tr>

                        <tr class="tr-score-final">
                            <td class="align-left">TOTAL SCORE:</td>
                            <td>{{$ctrl.getTotalLower('A') + $ctrl.getTotalUpperAfterBonus('A')}}</td>
                            <td>{{$ctrl.getTotalLower('B') + $ctrl.getTotalUpperAfterBonus('B')}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>